@using Microsoft.Ajax.Utilities
@using Sbl.Helpers
@using Sbl.Models

@model Sbl.Models.TimeSheetListViewModel

@{
    ViewBag.Title = "Time Sheet Report";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Time Sheet Report</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Time Sheet Report</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            @if (!User.IsInRole(WebConstant.SBLUserRole.Driver))
                            {

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label"><strong>Associates</strong></label>
                                        <select id="Associate" class="form-control select2 custom-select">
                                            <option value="0">-- Select --</option>
                                            @foreach (var associate in Model.Associates)
                                            {
                                                if (Model.AssociateId == associate.Id)
                                                {
                                                    <option value="@associate.Id" selected="selected">@associate.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@associate.Id">@associate.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label"><strong>Depot</strong></label>
                                        <select id="Depot" class="form-control select2 custom-select">
                                            @foreach (var depot in Model.Depots)
                                            {
                                                if (Model.DepotId == depot.Id)
                                                {
                                                    <option value="@depot.Id" selected="selected">@depot.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@depot.Id">@depot.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label"><strong>Status</strong></label>
                                        <select id="Status" class="form-control">
                                            @if (Model.SelectedStatus == "1")
                                            {
                                                <option value="1" selected="selected">All Status</option>
                                            }
                                            else
                                            {
                                                <option value="1">All Status</option>
                                            }
                                            @if (Model.SelectedStatus == "2")
                                            {
                                                <option value="2" selected="selected">Active</option>
                                            }
                                            else
                                            {
                                                <option value="2">Active</option>
                                            }
                                            @if (Model.SelectedStatus == "3")
                                            {
                                                <option value="3" selected="selected">Deactivated</option>
                                            }
                                            else
                                            {
                                                <option value="3">Deactivated</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label"><strong>Period</strong></label>
                                    <select id="Period" class="form-control select2 custom-select">
                                        @foreach (var period in Model.Periods.OrderByDescending(x => x.DateStart))
                                        {
                                            if (Model.DateStart == period.DateStart)
                                            {
                                                <option value="@String.Format("{0:yyyy-MM-dd}", period.DateStart)" selected="selected">@String.Format("{0:dd/MM/yyyy} - {1:dd/MM/yyyy} (week {2})", period.DateStart, period.DateEnd, period.Week)</option>
                                            }
                                            else
                                            {
                                                <option value="@String.Format("{0:yyyy-MM-dd}", period.DateStart)">@String.Format("{0:dd/MM/yyyy} - {1:dd/MM/yyyy} (week {2})", period.DateStart, period.DateEnd, period.Week)</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="table-responsive">
                            @foreach (var item in Model.Remittances)
                            {
                                <table id="tableAccordin" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" style="width:100%;margin-bottom:5px;">
                                    <tbody class="tbodyAccordin">
                                        <tr class="trAccordion">
                                            <td style="padding:5px;">
                                                <a id="aEdit" title="Edit" class="btn btn-xs btn-success pull-left m-r-10 aEdit" data-id="@item.AssociateId" href="javascript:void(0);"><i class="fa fa-eye" style="color: white;"></i></a>
                                                <p class="pull-left" style="margin:0;"><strong>@item.AssociateName</strong></p>
                                            </td>
                                        </tr>
                                        <tr id="@String.Format("RouteDetails{0}", item.AssociateId)" class="trRouteDetails">
                                            <td>
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr style="font-weight:bold;">
                                                                <th>Date</th>
                                                                <th>Start Time</th>
                                                                <th>End Time</th>
                                                                <th>Total Hours</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (item.Routes.Any())
                                                            {
                                                                foreach (var route in item.Routes)
                                                                {
                                                                    <tr>
                                                                        <td>@String.Format("{0:dd MMM yyyy - ddd}", route.RouteDate)</td>
                                                                        <td>@route.StartTime</td>
                                                                        <td>@route.EndTime</td>
                                                                        <td>@route.TotalTime</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="loading-modal"></div>

@section Scripts {
    <script>


        /* loading */
        $body = $("body");
        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });


        /* select */
        $("#Associate").select2();
        //$("#Depot").select2();
        $("#Period").select2();


         

        $(document.body).on("click", ".aEdit", function () {

            var routeDetails = "RouteDetails" + $(this).data("id");
            $("#" + routeDetails).toggle();

        });

 


        $(document.body).on("change", "#Period", function () {
            Search();
        });
        $(document.body).on("change", "#Depot", function () {
            Search();
        });
        $(document.body).on("change", "#Associate", function () {
            Search();
        });
        $(document.body).on("change", "#Status", function () {
            Search();
        });

        function Search() {
            var date = $("#Period").val();
            var depotId = $("#Depot").val();
            var associateId = $("#Associate").val();
            var status = $("#Status").val();
            var queryString = "";
            if (date != 0) {
                queryString = "?date=" + date;
            }
            if (depotId != 0) {
                if (queryString == "") {
                    queryString = "?depotId=" + depotId;
                } else {
                    queryString = queryString + "&depotId=" + depotId;
                }
            }
            if (associateId != 0) {
                if (queryString == "") {
                    queryString = "?associateId=" + associateId;
                } else {
                    queryString = queryString + "&associateId=" + associateId;
                }
            }
            if (status != 0) {
                if (queryString == "") {
                    queryString = "?status=" + status;
                } else {
                    queryString = queryString + "&status=" + status;
                }
            }
            window.location.href = "/admin/timesheetlist" + queryString;
        }











          
  



    </script>
}
