@model Sbl.Models.AssociateProfileViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- This page CSS -->
    <!-- Style CSS -->
    <link href="/css/style.min.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="/css/pages/dashboard1.css" rel="stylesheet">

    <!-- Auto Complete CSS -->
    <link href="/plugins/auto-complete/content/styles.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="/css/custom.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="page-wrapper m-t-30">
        <div class="container-fluid">

            <div class="row">
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <center class="m-t-30">
                                <img src="@String.Format("data:{0};base64,{1}", Model.DataPhotoContentType, Convert.ToBase64String(Model.DataPhoto, 0, Model.DataPhoto.Length))" class="img-circle" width="150" />
                                <h4 class="card-title m-t-10">@Model.Name</h4>
                                <h6 class="card-subtitle">@Model.Position</h6>
                            </center>
                        </div>
                        <div>
                            <hr>
                        </div>
                        <div class="card-body">
                            <small class="text-muted">Email address </small>
                            <h6>@Model.Email</h6> <small class="text-muted p-t-30 db">Mobile</small>
                            <h6>@Model.Mobile</h6> <small class="text-muted p-t-30 db">Address</small>
                            <h6>@Model.Address, @Model.City @Model.Postcode</h6>
                            <div class="map-box">
                                @{ string map = String.Format("http://maps.google.co.uk/maps?q={0}&output=embed", Model.Postcode); }
                                <iframe src="@map" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">

                        <div class="tab-pane active" id="profile" role="tabpanel">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 col-xs-6 b-r">
                                        <strong>@Html.LabelFor(m => m.Name)</strong>
                                        <br>
                                        <p class="text-muted">@Model.Name</p>
                                    </div>
                                    <div class="col-md-4 col-xs-6 b-r">
                                        <strong>@Html.LabelFor(m => m.Email)</strong>
                                        <br>
                                        <p class="text-muted">@Model.Email</p>
                                    </div>
                                    <div class="col-md-4 col-xs-6 b-r">
                                        <strong>@Html.LabelFor(m => m.Position)</strong>
                                        <br>
                                        <p class="text-muted">@Model.Position</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>@Html.LabelFor(m => m.Address)</strong>
                                        <br>
                                        <p class="text-muted">@Model.Address</p>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>@Html.LabelFor(m => m.City)</strong>
                                        <br>
                                        <p class="text-muted">@Model.City</p>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>@Html.LabelFor(m => m.Postcode)</strong>
                                        <br>
                                        <p class="text-muted">@Model.Postcode</p>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>@Html.LabelFor(m => m.Mobile)</strong>
                                        <br>
                                        <p class="text-muted">@Model.Mobile</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4 col-xs-6 b-r">
                                        <strong>@Html.LabelFor(m => m.NextOfKinName)</strong>
                                        <br>
                                        <p class="text-muted">@Model.NextOfKinName</p>
                                    </div>
                                    <div class="col-md-4 col-xs-6 b-r">
                                        <strong>@Html.LabelFor(m => m.NextOfKinRelationship)</strong>
                                        <br>
                                        <p class="text-muted">@Model.NextOfKinRelationship</p>
                                    </div>
                                    <div class="col-md-4 col-xs-6 b-r">
                                        <strong>@Html.LabelFor(m => m.NextOfKinMobile)</strong>
                                        <br>
                                        <p class="text-muted">@Model.NextOfKinMobile</p>
                                    </div>
                                </div>

                                @if (!String.IsNullOrEmpty(@Model.Bio))
                                {  <hr>
                                    <p class="m-t-30">@Model.Bio</p>
                                }
                                @if (Model.AssociateFiles.Any())
                                {           <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @foreach (var file in Model.AssociateFiles)
                                            {
                                                <div>
                                                    @if (!String.IsNullOrEmpty(file.DataFileDescription))
                                                    {
                                                        <p><strong>Description:</strong> @file.DataFileDescription</p>
                                                    }
                                                    <img src="@String.Format("data:{0};base64,{1}", file.DataFile, Convert.ToBase64String(file.DataFile, 0, file.DataFile.Length))" />

                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>
