
@using System.Diagnostics
@using Sbl.Helpers

@model Sbl.Models.RouteAllocationViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- This page CSS -->
    <!-- Style CSS -->
    <link href="/css/style.min.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="/css/pages/dashboard1.css" rel="stylesheet">

    <!-- Auto Complete CSS -->
    <link href="/plugins/auto-complete/content/styles.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="/css/custom.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="page-wrapper m-t-30">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        @if (Model.RouteDate != null)
                                        {
                                            <strong>Route Date: @Model.RouteDate.Value.ToString("dd MMM yyyy") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Week: @Model.RouteDate.Value.GetWeekNumberOfYear()</strong>
                                        }
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <p>&nbsp;</p>
                                <table id="main-table" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th><strong>Route Date</strong></th>
                                        <th><strong>Driver</strong></th>
                                        <th><strong>Depot</strong></th>
                                        <th><strong>Code</strong></th>
                                        <th><strong>Type</strong></th>
                                        <th><strong>AD1</strong></th>
                                        <th><strong>AD2</strong></th>
                                        <th><strong>AD3</strong></th>
                                        <th><strong>Fuel</strong></th>
                                        <th><strong>Deduct</strong></th>
                                        <th><strong>Mileage</strong></th>
                                        <th><strong>Notes</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.Routes)
                                    {
                                        <tr>
                                            <td>@item.RouteDate.Value.ToString("dd MMM yyyy") </td>
                                            <td>@item.DriverName </td>
                                            <td>@item.DepotName</td>
                                            <td>@item.RouteCode</td>
                                            <td>@item.RouteType</td>
                                            <td>@item.Ad1Quantity</td>
                                            <td>@item.Ad2Quantity</td>
                                            <td>@item.Ad3Quantity</td>
                                            <td>@item.Fuel</td>
                                            <td>@String.Format("£{0:N2}", item.Deduct)</td>
                                            <td>@item.Mileage</td>
                                            <td>@item.Notes</td>
                                        </tr>
                                    }
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>
