<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li>
            <a class="waves-effect waves-dark" href="~/admin/dashboard">
                <i class="icon-speedometer"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-user"></i><span class="hide-menu">Associates</span></a>
            <ul aria-expanded="false" class="collapse">
                <li>@Html.ActionLink("Associates", "associatelist", "admin")</li>
                <li>@Html.ActionLink("Remittances", "AssociateRemittanceList", "admin")</li>
                <li>@Html.ActionLink("Charges/Credits", "chargelist", "admin")</li>
            </ul>
        </li>
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-write"></i><span class="hide-menu">POC</span></a>
            <ul aria-expanded="false" class="collapse">
                <li>@Html.ActionLink("Schedule", "schedule", "admin")</li>
                <li>@Html.ActionLink("Service Confirmation Page", "ServiceConfirmation", "admin")</li>
                <li>@Html.ActionLink("Timesheet Report", "TimeSheetList", "admin")</li>
                <li>@Html.ActionLink("Handbook", "Handbook", "admin")</li>
                <li>@Html.ActionLink("Handbook Report", "HandbookList", "admin")</li>
            </ul>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
    </ul>
</nav>


