@model Sbl.Models.InductionStep2ViewModel

@{
    Layout = "~/Views/Shared/_LayoutInduction.cshtml";
}

@{
    List<SelectListItem> yesno = new List<SelectListItem>();
    yesno.Add(new SelectListItem { Text = "Yes", Value = "true" });
    yesno.Add(new SelectListItem { Text = "No", Value = "false" });
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Step 2</h4>
                <h6 class="card-subtitle">Please complete the form signing each page</h6>
                <div class='row'>
                    <div class="col-md-12">
                        <ul class='nav nav-wizard nav-wizard-backnav'>
                            <li><a>Step 1</a></li>
                            <li class="active"><a>Step 2</a></li>
                            <li><a>Step 3</a></li>
                            <li><a>Step 4</a></li>
                            <li><a>Step 5</a></li>
                            <li><a>Step 6</a></li>
                            <li><a>Step 7</a></li>
                            <li><a>Step 8</a></li>
                            <li><a>Step 9</a></li>
                            <li><a>Step 10</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("step2", "induction", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.GuidId)
                    @Html.HiddenFor(m => m.FullName)
                    <div class="form-body">

                        <h4 class="text-success">Contractor Personal Details</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes = new { @class = "form-control sbl-datepicker" } })
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calender"></i></span>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.DateOfBirth)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NationalInsuranceNumber, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.NationalInsuranceNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NationalInsuranceNumber)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Nationality, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.Nationality, (IEnumerable<SelectListItem>)ViewBag.Countries, "-- Select --", new { @class = "form-control select2 custom-select" })
                                    @Html.ValidationMessageFor(m => m.Nationality)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UTRNumber, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.UTRNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UTRNumber)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NameOfTheBank, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.NameOfTheBank, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NameOfTheBank)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SortCode, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.SortCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SortCode)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AccountNumber, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AccountNumber)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AccountName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AccountName)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.OwnVehicle, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.OwnVehicle, yesno, "-- Select --", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OwnVehicle)
                                </div>
                            </div>
                            <div class="col-md-3 vehicleInfo" style="display:none;">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.VehicleType, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.VehicleType, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3 vehicleInfo" style="display:none;">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.VehicleInsuranceRenewalDate, new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.EditorFor(m => m.VehicleInsuranceRenewalDate, new { htmlAttributes = new { @class = "form-control sbl-datepicker" } })
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calender"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 vehicleInfo" style="display:none;">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.VehicleMOTDue, new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.EditorFor(m => m.VehicleMOTDue, new { htmlAttributes = new { @class = "form-control sbl-datepicker" } })
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calender"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-1">
                                <a href="/induction/step1?guidid=@Model.GuidId" class="btn btn-lg btn-default"> Back to previous page</a>
                            </div>
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Step2Signature, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Step2Signature, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Step2Signature)
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Step2DateSigned, new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.EditorFor(m => m.Step2DateSigned, new { htmlAttributes = new { @class = "form-control sbl-datepicker" } })
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calender"></i></span>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Step2DateSigned)
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-success" style="margin-top: 30px; float: right;">
                                    <i class="fa fa-check"></i>
                                    <span> Next </span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        jQuery('.sbl-datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            startView: 0,
            format: "dd M yyyy"
        });


        CheckOwnVehicle();

        $(document.body).on("change", "#OwnVehicle", function () {
            CheckOwnVehicle();
        });

        function CheckOwnVehicle() {
            if ($("#OwnVehicle").val() == "true") {
                $(".vehicleInfo").show();
            }
            else {
                $(".vehicleInfo").hide();
            }
        }

        AutoFill();
        function AutoFill() {
            $("#Step2Signature").val($("#FullName").val());
            $("#Step2Signature").val($("#FullName").val());
            $("#Step2DateSigned").datepicker("setDate", new Date());
        }

    </script>
}
